div(id='chat')
    input(type="mail" name="mail" id="mail" placeholder="email@email")
    input(type="text" name="nombre" id="nombre"  placeholder="Nombre")
    input(type="text" name="apellido" id="apellido"  placeholder="Apellido")
    input(type="number" name="edad" id="edad"  placeholder="Edad")
    input(type="text" name="alias" id="alias"  placeholder="Alias")
    input(type="text" name="avatar" id="avatar"  placeholder="URL avatar")
    input(type="text" name="msg" id="msg"  placeholder="Escriba su mensaje")
    button(onclick="sendData(this)")="Enviar"
div(id="messages")