form(id="form") 
    div
        label(for='title')='Title'
        input(type="text" name="title" placeholder="Titulo" id="product-title")
    div
        label(for='price')='Precio'
        input(type="number" name="price" placeholder="Precio" id="product-price")
    div
        label(for='thumbnail')= 'Thumbnail'
        input(type="text" name="thumbnail" placeholder="Thumbnail" id="product-thumbnail") 
    div    
        button(type="submit") Enviar