html 
    head 
        title='Desafio Clase #24 - Curso Backend'
        link(rel="stylesheet" href="../../style.css")
    body 
        div(class='error')
            span Ocurrió un error vuelva a intentar nuevamente
            button(type="button" id='toLoginBtn') Ir al Login
    script(src="../../auth.js")